# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# VS Code (optional)
.vscode/

# Mac/Linux temp
*.swp